:root {
    /* tons suaves e acessíveis */ 
    --cor-azul-primario: #005fa3;
    --cor-verde-sucesso: #3ce775;
    --cor-vermelho-alerta: #e74c3c;
    --Amarelo-destaque: #ffd700;

        /* neutras */
    --cor-neutra0:  #000000ff;
    --cor-neutra1:  #1A1A1Aff;
    --cor-neutra2:  #333333ff;
    --cor-neutra3:  #4D4D4Dff;
    --cor-neutra4:  #666666ff;
    --cor-neutra5:  #808080ff;
    --cor-neutra6:  #999999ff;
    --cor-neutra7:  #B3B3B3ff;
    --cor-neutra8:  #CCCCCCff;
    --cor-neutra9:  #E6E6E6ff;
    --cor-neutra10: #FFFFFFff;
    

        /* tema claro*/
    --cor-primaria: #0077cc;
    --cor-secundaria: #28a745;
    --cor-destaque-primario: #FFD700;
    --cor-destaque-secundario: hsl(180, 100%, 40%);
    --cor-fundo-nv0: var(--cor-neutra10);
    --cor-fundo-nv1: var(--cor-neutra8);
    --cor-fundo-nv2:  var(--cor-neutra7);
    --cor-fundo-nv3: var(--cor-neutra6);
    --cor-texto-primario: #1A1A1Aff;
    --cor-texto-secundario:  #ffffff;
    --cor-borda: var(--cor-neutra8);
    --cor-borda2: var(--cor-neutra4);
    --cor-botao: #0077cc;
        
      /* espaçamento */
    --espacamento1: 8px;
    --espacamento2: 16px;
    --espacamento3: 24px;
    --espacamento4: 32px;
    --espacamento5: 48px;
    --espacamento6: 64px;
        
      /*  tipografia   */
    --tamanho-fonte-h6:  7pt;
    --tamanho-fonte-h5:  9pt;
    --tamanho-fonte-h4: 12pt;
    --tamanho-fonte-p:  12pt;
    --tamanho-fonte-h3: 15pt;
    --tamanho-fonte-h2: 19pt;
    --tamanho-fonte-h1: 24pt;

    --fonte-principal: 'Arial', sans-serif;
    --tamanho-fonte-base: 16px;
}

  /* Ajuste preliminar */
body { 
  margin: 0; 
  padding: 0; 
  background-color: var(--cor-fundo-nv0);
  color: var(--cor-texto-primario);
}

  /* Ajuste do layout da página*/
.layout-principal {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  align-items: center;    
  width: 100%;
  justify-self: center;
  align-items: center;
}

  /* Container principal */
.container-grid {
  display: grid;
  padding: var(--espacamento2);
}

  /* Cabeçalho */ 
.header {
  grid-area: header;
  background-color: var(--cor-fundo-nv1);
  height: 80px;
  align-content: center;
  margin-top: 30px;
  padding: 0 15px;
}

.header nav {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 1280px;
  width: 100%;
  justify-self: center;
  justify-content: space-between;
}

.header a {
  transition: all 0.3s ease;
}

.menu-navegacao a:hover {
    transform: scale(1.03);
}

  /* Mobile - menu tipo toggle (botão expande/comprime) */
#menu-toggle {
  display: flex;
  padding: 8px 12px;
  border: 1px solid  var(--cor-fundo-nv2);
  cursor: pointer;
  font-weight: bold;
}

#menu-toggle:hover {
  background-color: var(--cor-fundo-nv1);  
}

#menu-toggle:active {
  background-color: var(--cor-fundo-nv3);  
}

.texto {
  display: flex;
}

.icone {
  display: block;
}

#menu-itens {
  display: none;
  list-style: none; 
  gap: 0;
  padding: 0; 
  margin-top: 10px;
}

#menu-itens a { 
  text-decoration: none;
  color: var(--fonte-principal);
}

#menu-itens.aberto {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 15px;
  top: 85px;
  gap: 0;
  margin: 0;
  z-index: 1;
  align-items: center;
}

#menu-itens.aberto a {
  display: flex;
  padding: 8px 0 8px 10px;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;    
  background-color: var(--cor-fundo-nv2);
  border: 1px solid var(--cor-fundo-nv3);
  width: 150px;
}

#menu-itens.aberto a:hover {    
  background-color: var(--cor-fundo-nv1); 
}

.sub-itens {
  display: none;
}

  /* Menu principal */
@media (min-width: 768px) {
  .menu-navegacao {
    height: 100%;
  }

  #menu-itens {
    display: flex;
    font-size: var(--tamanho-fonte-p);  
    height: 50%;
    margin: 0;
  }

  #menu-itens > li {
    align-content: center;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  #menu-itens > li:hover .menu-sub-itens {
    transform: scale(1.03);
    display: block;
  }

  #menu-toggle {
    display: none;
  }

  .texto {
    display: flex;
  }

  .icone {
    display: none;
  }

      /* Submenus, normalmente ocultos */  
  .menu-sub-itens {
    align-self: center;
    display: block;
  }

  .menu-sub-itens:hover {
    border: 1px solid var(--cor-fundo-nv3);
  }

  .menu-sub-itens:hover > .sub-itens {
    display: block;
    margin-top: 10px;
    margin-left: -45px;
  }

  .sub-itens {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
  }

  .sub-itens > li {
    border: 1px solid var(--cor-fundo-nv3);
    padding: 15px 25px;
    font-size: var(--tamanho-fonte-h5);
    align-content: center;
    background-color: var(--cor-fundo-nv2);
    transition: all 0.3s ease;
  }

  .sub-itens > li:hover { 
    background-color: var(--cor-fundo-nv1);
  }
}
  /* Rodapé*/
.footer {
  grid-area: footer;
  background-color: var(--cor-fundo-nv1);
  padding: var(--espacamento3);
}

.footer > section {
  max-width: 1280px;
  justify-self: center;
  margin-bottom: 30px;
}

.footer  a{ 
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  text-decoration: none;
  align-items: center;
  transition: color 0.3s, transform 0.5s;
  color: var(--fonte-principal);
}

.footer a:hover {
  color: var(--cor-destaque-secundário);
  transform: scale(1.05);
}

#menu-rodape {
  list-style: none; 
  display: flex;
  justify-content: center;
  gap: 15px; 
  padding: 0; 
  margin-top: 10px;
}

.separador-rodape {
  text-align: center; 
  margin-top: 10px;
}

/* Principal */
.main {
  grid-area: main;
  padding: var(--espacamento3);
  max-width: 1280px;
  justify-self: center;
}

.section {
  padding: 10px 20px 30px 20px;
  background-color: var(--cor-fundo-nv0);
  border-radius: 8px;
  margin-bottom: 20px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.article { 
  margin-bottom: 30px;
  justify-content: center;
  display: block;
  justify-self: center;
}

/* bordas para contrastar imagems claras e o fundo */
.article a > img {
  width: 100%;
  height: auto;
}

.cartao {
  flex: 1;
  min-width: 250px;
  border: 1px solid var(--cor-borda2);
  padding: 15px; 
  border-radius: 8px;
  transition: transform 0.3s ease;    
}

.cartao:hover {
  transform: scale(1.02);
}

/* Botões */
.botao {
  display: inline-block; 
  padding: 10px 20px;
  text-decoration: none; 
  border-radius: 5px;
  box-shadow: -1px 1px 0px 0px var(--cor-neutra1);
  color: white;
  transition: all 0.3s ease;
}

/* Efeito Visual - Botão */
.botao:hover {
    transform: scale(0.98);
    background-color: var(--cor-destaque-secundario);
}

.botao:active {
  transform: scale(0.9);
}

/* Personalizar cor de botão */
.btn-cor0 {
  background-color: var(--cor-primaria); 
  color: var(--cor-texto-secundario);
}

.btn-cor1 {
  background-color: var(--cor-secundaria); 
  color:  var(--cor-texto-secundario); 
}

.btn-cor2 {
  background-color: var(--cor-destaque-primario); 
  color:  var(--cor-texto-primario);
}

.btn-cor3 {
  background-color: var(--cor-azul-primario);  
  color:  var(--cor-neutra10); 
}

.btn-cor4 {
  background-color: var(--cor-neutra3); 
  color:  var(--cor-texto-secundario);
}

.separador-svg {  
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
}

/* Galeria de imagens */
.foto-galeria {
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid var(--cor-fundo-nv3);
  transition: transform 300ms;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.foto-galeria:hover {
  transform: scale(1.03);
  border: 2px solid var(--cor-borda2);
}

.foto-galeria img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.foto-descrição {
  padding: 8px 0;
}

@media only screen and (min-width: 780px) {
  .foto_galeria {
    width: calc(50% - 10px);
    max-width: 320px;
  }
} /* Fim Galeria */

iframe, #mensagem {
  width: 100%;
}

/* Layout e estilo do formulário*/

form {
  background-color: white;
  color: black;
}

.formulario-conteudo {
  border: 1px solid; 
  padding: 20px 35px 20px 45px; 
  max-width: 800px;
  display: block;
  justify-self: center; 
  align-self: center;
}

.fieldset {
  margin-bottom: 20px;
}

input, select { 
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
  outline: none;
}

.input-long {
  width: 95%;
}

.input-medium {
  width: 50%;
}

@media (min-width: 768px) {  
  .input-medium {
    width: 25%;
  }
}/* Fim layout e estilo do formulário*/

/* Validação de formulário */

input:valid:not(:placeholder-shown) {
  border: 2px solid #3ce775;
}

input:invalid:not(:placeholder-shown) {
  border: 2px solid #e74c3c;
}

#uf, #nascimento:invalid, input:placeholder-shown {
  border: 2px solid #ccc;
}

input:focus:invalid {
  box-shadow: none
}

input:focus {
  border: 2px solid #3498db;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
}

.status-erro {
  margin: -10px 0 0 5px;
  padding: 0;
  font-size: 14px;
  color: red;  
}

.status-sucesso {
  margin: -10px 0 0 5px;
  padding: 0;
  font-size: 14px;
  color: green;
} /* Fim validação de formulário */

/* Area para adição de novas postagens na página contato.html */
#comentarios {
  background-color: var(--cor-fundo-nv0);
  color: var(--cor-texto-primario);
  display: flex;
  flex-flow: column nowrap;
  gap: 10%; 
  margin-bottom: 15px;
}


@keyframes efeito-surgir {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.section {
  animation: efeito-surgir 0.8s ease-in-out;
}

.separador-svg {  
  animation: efeito-surgir 2s ease-in-out;
}



/* Painel de Acessibilidade */
#painel-acessibilidade {
  position: fixed;
  top: 0px;
  right: 10%;
  background-color: var(--cor-fundo-nv0);
  border: 1px solid var(--cor-neutra5);
  padding: 8px;
  border-radius: 8px;
  z-index: 1000;
  display: flex;
  gap: 12px;
}
@media (min-width: 1024px) {
  #painel-acessibilidade {
    right: 14%;
  }
}

#painel-acessibilidade button {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-secundario);
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

#painel-acessibilidade button:hover {
  background-color: var(--cor-secundaria);
}

/* Tema escuro */
[data-tema="escuro"] {  
  --cor-primaria: #5fb2f6;
  --cor-secundaria: #66bb6a;
  --cor-destaque-primario: hsl(180, 100%, 40%);
  --cor-destaque-secundario: #FFD700;
  --cor-fundo-nv0: var(--cor-neutra1);
  --cor-fundo-nv1: var(--cor-neutra2);
  --cor-fundo-nv2:  var(--cor-neutra3);
  --cor-fundo-nv3: var(--cor-neutra4);
  --cor-texto-primario: var(--cor-neutra10);
  --cor-texto-secundario: var(--cor-neutra10);
  --cor-borda: var(--cor-neutra3);
  --cor-borda2: gold;
  --cor-botao: #90caf9;
}

/* Alto contraste */
[data-tema="alto-contraste"] {
  --cor-primaria: #00ffff;
  --cor-secundaria: #ffff00; 
  --cor-destaque-primario: #FFD700;
  --cor-destaque-secundario: #00ffff;
  --cor-fundo-nv0: var(--cor-neutra1);
  --cor-fundo-nv1: var(--cor-neutra2);
  --cor-fundo-nv2:  var(--cor-neutra3);
  --cor-fundo-nv3: var(--cor-neutra4);
  --cor-texto-primario: var(--cor-neutra10);
  --cor-texto-secundario: var(--cor-neutra0);
 --cor-borda: var(--cor-neutra3);
  --cor-borda2: gold;
  --cor-botao: #90caf9;
}