<!DOCTYPE html>
<html  lang="pt-BR" data-tema="claro">
<head>
    <title>Projetos - Animal Shelter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global.css">
</head>

<body class="layout-principal">
    <!-- Cabeçalho -->
    <header class="header" role="banner">       
        <div id="painel-acessibilidade" aria-label="Painel de acessibilidade" role="region">
            <button onclick="alternarTema()" aria-label="Alternar entre modo claro e escuro">🌙 Tema</button>
            <button onclick="alternarContraste()" aria-label="Ativar alto contraste">🌓 Contraste</button>
            <button onclick="aumentarFonte()" aria-label="Aumentar fonte">A+</button>
            <button onclick="reduzirFonte()" aria-label="Reduzir fonte">A-</button>
        </div>
        <nav class="menu-navegacao" role="navigation" aria-label="Navegação principal">
            <a href="../../public/index.html"><img src="../assets/logo/logo-animal-shelter-200.png" alt="Logotipo Animal Shelter" width="200" loading="lazy"></a>
            <button id="menu-toggle" aria-label="Abrir menu" aria-controls="Abre menu principal verticalmente">☰</button>
            <ul id="menu-itens" aria-label="Menu Principal horizontal" aria-expanded="Menu Principal vertical">
                <li><a href="../../public/index.html"><span class="icone">🏠</span><span class="texto">Inicio</a></li>			
                <li><a href="projetos.html" style="font-weight: bold;"><span class="icone">📁</span><span class="texto">Projetos</a></li>
                <li><a href="noticias.html"><span class="icone">📁</span><span class="texto">Notícias</a></li>
                <li><a href="apoio.html"><span class="icone">📁</span><span class="texto">Contribuir</a></li>
                <li class="menu-sub-itens">
                    <a href="cadastro.html"><span class="icone">📁</span><span class="texto">Cadastro</a>
                    <ul class="sub-itens" area-expanded>
                        <li><a href="trabalhe_conosco.html">Voluntariado</a></li>
                        <li><a href="cadastro.html">Inscrição</a></li>                    
                    </ul>
                </li>    
                </li>
                <li><a href="contato.html"><span class="icone">📁</span><span class="texto">Contato</a></li>
            </ul>
        </nav>
    </header>

    <!-- Conteúdo Principal -->
    <main class="main container-grid" role="main">
        <!-- Sobre -->
        <section class="section">
            <h2>História</h2>
            <article>
                <p>O abrigo surgiu da iniciativa de moradores que resgatavam cães abandonados e os acolhiam em suas casas. Com o tempo, criaram um projeto coletivo que resultou na construção de um espaço dedicado ao cuidado animal. Com apoio da comunidade e incentivos, nasceu a Animal Shelter.</p>
            </article>
            <article>
                <h3>Conscientização</h3>
                <p>Promovemos boas práticas no cuidado com animais e divulgamos campanhas voltadas a tutores. A adoção responsável é um dos nossos principais pilares.</p>
            </article>
            <article>
                <h3>Missão</h3>
                <p>Oferecer refúgio temporário a animais até que encontrem um lar definitivo, promovendo empatia e vínculos afetivos.</p>
            </article>
            <article>
                <h3>Visão</h3>
                <p>Resgatar animais de ambientes inadequados, garantindo qualidade de vida e segurança.</p>
            </article>
            <article>
                <h3>Valores</h3>
                <p>Empatia, cuidado com animais e pessoas, organização transparente e uso de tecnologia para gestão informacional.</p>
            </article>
            <article>
                <h3>Objetivos</h3>
                <ul>
                    <li>Conscientizar sobre os riscos enfrentados por animais abandonados ou maltratados.</li>
                    <li>Orientar sobre adoção e doação de animais.</li>
                    <li>Compartilhar informações sobre cuidados básicos com pets.</li>
                </ul>
            </article>
        </section>
        
            <svg class="separador-svg" viewBox="0 0 500 50" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="24">🐾 🐾 🐾 🐾 🐾🐾 🐾 🐾 🐾 🐾</text>
            </svg> 

        <!-- Galeria -->
        <section class="section">
            <h2>Galeria</h2>
            <p><time datetime="2025-10-11T21:21">11 de outubro de 2025 às 21:21</time></p>
            <article class="container-flex" aria-label="Galeria de fotos">
                <!-- Imagems -->
                <div class="foto-galeria" aria-label="Foto">
                    <a href="../assets/images/cats-0015-1024.webp" target= "_blank">
                        <img src="../assets/images/cats-0015-640.webp" width="300px"></a>
                    <p class="foto-descricao">Foto 1</p>
                </div>
                <div class="foto-galeria" aria-label="Foto">
                    <a href="../assets/images/kittens-0014-1024.webp" target= "_blank">
                        <img src="../assets/images/kittens-0014-640.webp" width="300px"></a>
                    <p class="foto-descricao">Foto 2</p>
                </div>
                <div class="foto-galeria" aria-label="Foto">
                    <a href="../assets/images/cat-005-1024.webp" target= "_blank">
                        <img src="../assets/images/cat-005-640.webp" width="300px"></a>
                    <p class="foto-descricao">Foto 3</p>
                </div>
                <div class="foto-galeria" aria-label="Foto">
                    <a href="../assets/images/cat-006-1024.webp" target= "_blank">
                        <img src="../assets/images/cat-006-640.webp" width="300px"></a>
                    <p class="foto-descricao">Foto 4</p>
                </div>
                <div class="foto-galeria" aria-label="Foto">
                    <a href="../assets/images/street-dogs-0007-1024.webp" target= "_blank">
                        <img src="../assets/images/street-dogs-0007-640.webp" width="300px"></a>
                    <p class="foto-descricao">Foto 5</p>
                </div>
                <div class="foto-galeria" aria-label="Foto">
                    <a href="../assets/images/stray-dog-0009-1024.webp" target= "_blank">
                        <img src="../assets/images/stray-dog-0009-640.webp" width="300px"></a>
                    <p class="foto-descricao">Foto 6</p>
                </div>
                <div class="foto-galeria" aria-label="Foto">
                    <a href="../assets/images/stray-0010-1024.webp" target= "_blank">
                        <img src="../assets/images/stray-0010-640.webp" width="300px"></a>
                    <p class="foto-descricao">Foto 7</p>
                </div>
                <div class="foto-galeria" aria-label="Foto">
                    <a href="../assets/images/stray-0011-1024.webp" target= "_blank">
                        <img src="../assets/images/stray-0011-640.webp" width="300px"></a>
                    <p class="foto-descricao">Foto 8</p>
                </div>
                <div class="foto-galeria" aria-label="Foto">
                    <a href="../assets/images/gray-cat-0013-1024.webp" target= "_blank">
                        <img src="../assets/images/gray-cat-0013-640.webp" width="300px"></a>
                    <p class="foto-descricao">Foto 9</p>
                </div>
            </article>
            <svg class="separador-svg" viewBox="0 0 500 50" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="24">🐾 🐾 🐾 🐾 🐾🐾 🐾 🐾 🐾 🐾</text>
            </svg> 
        </section>

        <!-- Planos Futuros -->
        <section class="section">
            <h2>Planos Futuros</h2>
            <ul style="font-size: 18px;">
                <li>Melhorar a infraestrutura para ampliar a capacidade de atendimento.</li>
                <li>Construir área técnica para procedimentos veterinários.</li>
                <li>Investir em tecnologia para apoio à pesquisa e gestão.</li>
                <li>Expandir para centro de apoio à pesquisa e controle de zoonoses.</li>
                <li>Atender espécies diversas e atuar na preservação de animais ameaçados.</li>
            </ul>
        </section>
    </main>

    <!-- Rodapé -->
    <footer class="footer" role="contentinfo">
        <section style="justify-self: center; width: 100%;">
            <div class="container-flex" style="gap: 30px; align-items:center; justify-content: space-between;">
                <article>
                    <h3>Social</h3>
                    <a href="contato.html"><img src="../assets/icons/logo-whatsapp-0001-128.png" alt="WhatsApp" width="30" height="30"> WhatsApp</a><br>
                    <a href="contato.html"><img src="../assets/icons/logo-facebook-0003-128.png" alt="Facebook" width="30" height="30"> Facebook</a><br>
                    <a href="contato.html"><img src="../assets/icons/logo-instagram-0002-128.png" alt="Instagram" width="30" height="30"> Instagram</a>
                </article>
                <article>
                    <a href="../../public/index.html"><img src="../assets/logo/logo-animal-shelter-200.png" alt="Logotipo Animal Shelter" width="200" loading="lazy"></a>
                </article>
                <article>
                    <h3>Endereço</h3>
                    <p>Estrada Fictícia, 9999, Bairro Imaginário</p>
                    <p>Cidade - UF - CEP: 00000-000</p>
                    <p>E-mail: atendimento@animal.shelter.com</p>
                </article>
                <article>
                    <h3>Atendimento</h3>
                    <p>Celular: (99) 98765-4321</p>
                    <p>Telefone fixo: (99) 1234-5678</p>
                </article>
            </div>
        </section>
        <hr>
        <nav>
            <ul id="menu-rodape" aria-label="Menu do Rodapé">
                <li><a href="#">Início</a></li>
                <li><a href="#">Licença</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Política de Cookies</a></li>
                <li><a href="#">Trabalhe Conosco</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
        <p class="separador-rodape">Copyright © 2025 - Animal Shelter</p>
    </footer>
    <script src="../scripts/script.js" defer></script>
</body>
</html>